.card{
    width: 95%;
    height: 22em;   
}
.card h2{
    background-color: #ff6666;
    color: #fff;
    height: 2.5em;
    font-size: 20px;
    border-radius: 6px 0 6px 0;
}
.card p{
    display: flex;
    justify-content: center;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
}
@media screen and (max-width: 600px) {
    .card h2{ 
        font-size: 14px;
    }
}
